ol li {
  background-color: yellow;
  text-transform: uppercase;
}

.header {
  color: red; 
}

h1.header {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}
ol.ordained-list li {
  font-weight: bold;
}

.programming-language .blue {
  color: blue;
}
.programming-language .rosa {
  color: pink;
}
ul.sites li:hover {
 font-weight: bold;
}
.sites .laranja:hover {
 color: orange;
}
.sites .verde:hover {
  color: green;
}
.sites .preta:hover {
  color: black;
}
.sites .amarela:hover {
  color: yellow;
}