
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-content: center;
  /* margin-left: 400px; */
}

img {
  width: 600px;
}
.search-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}

input {
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border: 2px black solid;
  color: black;
  font-size: 20px;
}

button {
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: 2px black solid;
  background-color: black;
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}